<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>kCal Examples</title>
	<style type="text/css">
	
		body {
			font-family: 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
			font-size: 1.0em;
		}
	
		.calendar {
			width: auto;
			text-align: center;
		}
		
		.calendar th, .calendar td {
			text-align: center;
			padding: 5px;
		}
		
		.calendar td.today {
			background-color: #F0CA9F;
		}
		
/*		.calendar td.*/
	
	</style>
</head>

<body>
	{% block content %}
		
	{% endblock %}
</body>

</html>